/* Kommunalråd */

.komunalråd {
  /* font-family: 'Poppins', sans-serif;
  min-height: 50vh; */
  display: flex;
  /* align-items: center;
  justify-content: center;
  perspective: 1000px; */
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  border: 10px red dashed;
  height: 250vh;
}
.item {
  grid-column: span 1;
  grid-row: span 1;
}

/* .item-2 {
  grid-row: span 1;
} */

.grid-item {
  transform-style: preserve-3d;
  background-color: #050708;
  color: red;
  text-align: center;
  padding: 20px;
  margin: 2px;
  border: 10px red;
}

.sneaker {
  min-height: 35vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sneaker img {
  width: 20rem;
  z-index: 2;
  transition: all 0.75s ease-out;
}
.circle img {
  width: 10rem;
  height: 10rem;
  position: absolute;
  border-radius: 50%;
  z-index: 0;
}

.info h1 {
  font-size: 3rem;
  transition: all 0.75s ease-out;
}
.info h3 {
  font-size: 1.3rem;
  padding: 2rem 0rem;
  color: #585858;
  font-weight: lighter;
  transition: all 0.75s ease-out;
}
.sizes {
  display: flex;
  justify-content: space-between;
  transition: all 0.75s ease-out;
}
.sizes button {
  padding: 0.5rem 2rem;
  background: none;
  border: none;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  cursor: pointer;
  font-weight: bold;
  color: #585858;
}
button.active {
  background: #585858;
  color: white;
}
.purchase {
  margin-top: 5rem;
  transition: all 0.75s ease-out;
}
.purchase button {
  width: 100%;
  padding: 1rem 0rem;
  background: #f54642;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 30px;
  font-weight: bolder;
}
