/* globals */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Titillium+Web:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
li,
button,
label,
input,
p {
  font-size: 2rem;
}

h2 {
  font-size: 4.8rem;
}

h3 {
  font-size: 3rem;
  font-weight: normal;
}
/* Body */
body {
  font-family: 'Poppins', sans-serif;
  background: rgb(236, 236, 236);
  color: #ffffff;
  min-height: 100vh;
}

.header {
  background: lightblue;
  position: relative;
  max-width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  z-index: 1;
}
.header a {
  display: flex;
  padding: 0rem 4rem;
  text-decoration: none;
  color: #ffffff;
}
.header ul {
  list-style: none;
}
.logo {
  font-size: 2.5rem;
}
.menu-items {
  font-size: 1.5rem;
  font-family: sans-serif;
  display: flex;
  align-items: space-between;
}
.menu-items li {
  padding: 0.5rem 1rem;
  transition: background 0.3s ease-in-out;
}
.menu-items li:hover {
  background-color: #ff652f;
}

/* dropdown */
.dropdown {
  position: relative;
}
.dropdown-menu,
.menu-right {
  position: absolute;
  background: lightblue;
  width: 100%;
  top: 5rem;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}
.menu-right {
  top: 0;
  left: 110%;
}
.menu-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.dropdown:hover .dropdown-menu {
  top: 3.4rem;
  opacity: 1;
  visibility: visible;
}
.dropdown-right:hover .menu-right {
  left: 100%;
  opacity: 1;
  visibility: visible;
}

/* mega menu  */
.mega-menu {
  position: absolute;
  left: 0;
  width: 100%;
  top: 8rem;
  opacity: 2;
  visibility: hidden;
  transition: all 0.3s ease;
  z-index: 1;
}
.mega-menu .content {
  background: lightblue;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  width: 100%;
  justify-content: space-between;
}
.blog .content {
  grid-template-columns: repeat(3, 50rem);
}
.content .col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 3rem;
}
.content .col .img-wrapper {
  display: block;
  position: relative;
  width: 100%;
  height: 20vw;
  overflow: hidden;
}
.content .col .img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.content .col img {
  width: 100%;
  transition: transform 0.3s ease-in-out;
}
.content .col .img-wrapper:hover img {
  transform: scale(1.1);
}
.content .col h2 {
  color: #ff652f;
  font-size: 1.2rem;
  line-height: 3rem;
  font-weight: bold;
}
.content .col p {
  line-height: 1.2rem;
}
.content .col .mega-links {
  border-left: none;
}
.content .col .read-more {
  display: inline-block;
  padding-top: 1rem;
  color: #427dad;
  transition: color 0.3s ease;
}
.col .mega-links li,
.col .mega-links li a {
  padding: 0 1rem;
}
.menu-items li:hover .mega-menu {
  top: 4.5rem;
  opacity: 1;
  visibility: visible;
}
.content .col .read-more:hover {
  color: #ff652f;
}
/* Heading */
.heading {
  background: #343c44;
  padding: 3rem;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}
.heading h1 {
  font-size: 5rem;
  border: blue solid;
  min-width: 100vw;
  min-height: 15vh;
}

.profile-heading {
  background: #343c44;
  margin: auto;
  text-align: center;
  /* padding-bottom: 1rem; */
  font-weight: 700;
  line-height: 10vw;
  text-transform: uppercase;
}

.profile-heading h1 {
  padding-top: 10rem;
  color: white;
  font-size: 12rem;
}

/* section profile-cards */

/* display-layout */

.cards {
  width: 90%;
  margin: auto;
  display: flex;
  min-height: 70vh;
  align-items: center;
  flex-wrap: wrap;
}

.ersattare-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(45vh, 1fr));
  align-items: center;
  overflow: hidden;
  width: 90%;
  margin: auto;
}

/* Card-design */

.card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: rgb(251, 247, 247);
  flex: 1 1 25rem;
  min-height: 30vh;
  max-height: 70vh;
  margin: 2rem 5rem;
  border-radius: 2rem;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2), 0px 20px 20px rgba(0, 0, 0, 0.2);
}

.card-image {
  grid-area: image;
  background: url(img1.jpg);
  border-radius: 50px;
  background-size: cover;
}
.card-image img {
  /* padding-left: 2rem; */
  width: 27rem;
  height: 30rem;
  align-items: center;
  margin-top: 1rem;
  margin-left: 3rem;
  object-fit: cover;
  border-radius: 2rem;
  /* overflow: hidden; */
  /* border-radius: 15px; */
}

.card-text {
  grid-area: text;
  margin: 5px;
}
.card-text h2 {
  font-size: 2rem;
  align-items: center;
}

.card-text h3 {
  color: #1a3246;
}
.card-text h2 sup {
  font-size: 1.3rem;
}
.card-text .löftesbarometer {
  color: rgb(255, 7, 110);
  font-size: 18px;
  font-weight: bold;
}

.card-text p {
  color: grey;
  font-size: 15px;
  font-weight: 300;
}

.card-text h2 {
  margin-top: 0px;
  font-size: 28px;
  color: black;
}

.card-stats {
  grid-area: stats;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  background: rgb(255, 7, 110);
}

.card-stats .stat {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  color: white;
}
.card-stats .value {
  font-size: 22px;
  font-weight: 500;
}

.card-stats .border {
  border-left: 1px solid rgb(172, 26, 87);
  border-right: 1px solid rgb(172, 26, 87);
}

.card-stats .value sup {
  font-size: 13px;
}

/* NEW STUFFS */

/* nav menu button */
.menu-btn {
  position: relative;
  display: none;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  z-index: 2;
}
.menu-btn__lines::before,
.menu-btn__lines::after {
  content: '';
  position: absolute;
}
.menu-btn__lines,
.menu-btn__lines::before,
.menu-btn__lines::after {
  width: 1.5rem;
  height: 0.1rem;
  background: #ffffff;
  transition: all 0.5s ease-in-out;
}
.menu-btn__lines::before {
  transform: translateY(-0.5rem);
}
.menu-btn__lines::after {
  transform: translateY(0.5rem);
}
/* animation */
.menu-btn.open .menu-btn__lines {
  transform: translateX(2rem);
  background: transparent;
}
.menu-btn.open .menu-btn__lines::before {
  transform: rotate(45deg) translate(-1.5rem, 1.5rem);
  background: #ffffff;
}
.menu-btn.open .menu-btn__lines::after {
  transform: rotate(-45deg) translate(-1.5rem, -1.5rem);
  background: #ffffff;
}

/* MEDIA QUERY */

@media screen and (max-width: 970px) {
  .menu-btn {
    display: flex;
  }
  .heroSection {
    flex-direction: column;
  }

  .header .menu-items {
    position: absolute;
    height: 100vh;
    width: 100%;
    max-width: 350px;
    top: 100%;
    right: 0;
    background: #122331;
    display: block;
    padding: 1rem;
    line-height: 3rem;
    overflow-y: auto;
    transform: translateY(-200vh);
    transition: transform 0.3s ease-out;
  }
  .menu-items.open {
    transform: translateY(0);
  }

  .menu-items li {
    margin: 15px 10px;
  }
  .menu-items li a {
    padding: 0 1rem;
    display: block;
    font-size: 1.4rem;
  }
  .menu-items li:hover {
    background-color: transparent;
  }

  /* DROPDOWN, MEGA MENUS */
  .menu-items .dropdown-menu,
  .menu-items .menu-right,
  .menu-items .mega-menu {
    position: relative;
    opacity: 1;
    top: 4rem;
    visibility: visible;
    padding-left: 1rem;
    width: 100%;
    max-height: 0;
    transform: scaleY(0);
    transform-origin: top;
    overflow: hidden;
    transition: all 0.2s ease;
  }
  .expand-btn.open + .expandable {
    max-height: 100%;
    transform: scaleY(1);
  }

  .expandable li {
    margin: 0;
  }
  .expandable li a {
    font-size: 1rem;
  }

  .mega-menu .content {
    grid-template-columns: auto;
    padding: 1rem 1rem 0 1rem;
  }
  .mega-menu .content .col {
    width: 100%;
    padding-top: 1rem;
    margin-bottom: 0.5rem;
    border-top: 1px solid #1a3246;
  }
  .mega-menu .content .col:nth-child(1) {
    border-top: 0px;
  }
  .content .col .mega-links {
    border-left: 0px;
    padding-left: 1rem;
  }
  .col .mega-links li {
    margin: 0;
  }

  /* Mobile */
  @media (max-width: 768px) {
    .menu-btn .header {
      display: flex;
      flex-direction: column;
    }

    .header .menu-items a.logo {
      flex-direction: column;
      position: absolute;
      height: 100vh;
      width: 100%;
      max-width: 350px;
      top: 100%;
      right: 0;
      background: #122331;
      display: block;
      padding: 1rem;
      line-height: 3rem;
      overflow-y: auto;
      transform: translateY(-100vh);
      transition: transform 0.3s ease-out;
    }
    .menu-items.open {
      transform: translateY(0);
    }

    .menu-items li {
      margin: 15px 10px;
    }
    .menu-items li a {
      padding: 0 1rem;
      display: block;
      font-size: 1.4rem;
    }
    .menu-items li:hover {
      background-color: transparent;
    }

    /* DROPDOWN, MEGA MENUS */
    .menu-items .dropdown-menu,
    .menu-items .menu-right,
    .menu-items .mega-menu {
      position: static;
      opacity: 1;
      top: 4rem;
      visibility: visible;
      padding-left: 1rem;
      width: 100%;
      max-height: 0;
      transform: scaleY(0);
      transform-origin: top;
      overflow: hidden;
      transition: all 0.2s ease;
    }
    .expand-btn.open + .expandable {
      max-height: 100%;
      transform: scaleY(1);
    }

    .expandable li {
      margin: 0;
    }
    .expandable li a {
      font-size: 1rem;
    }

    .mega-menu .content {
      grid-template-columns: auto;
      padding: 1rem 1rem 0 1rem;
    }
    .mega-menu .content .col {
      width: 100%;
      padding-top: 1rem;
      margin-bottom: 0.5rem;
      border-top: 1px solid #1a3246;
    }
    .mega-menu .content .col:nth-child(1) {
      border-top: 0px;
    }
    .content .col .mega-links {
      border-left: 0px;
      padding-left: 1rem;
    }
    .col .mega-links li {
      margin: 0;
    }
  }
}
