.grid-container {
  box-sizing: border-box;
  position: relative;
  margin: 40px auto;
  padding: 0px 40px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.item-1 {
  grid-column: span 1;
}

.item-2 {
  grid-row: span 1;
}

.grid-item {
  background-color: #050708;
  color: red;
  text-align: center;
  padding: 20px;
  margin: 2px;
  border: 10px red;
}
