* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/* Ändra alla font-sizes till REM */
div.header__nav-top__tagline.header__nav-top__tagline--no-sponsor.header__nav-top__tagline--119 {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  justify-content: flex-start;
  margin-right: auto;
  box-sizing: border-box;
}
div.header__nav-top__sponsor-url-logos.header__nav-top__sponsor-url-logos--no-sponsor {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  justify-content: flex-end;
  box-sizing: border-box;
}

td {
  box-sizing: border-box;
  padding: 6px 12px;
  background-color: rgb(236, 236, 236);
  font-weight: 700;
}
